article {
    padding-left: 25px;
    padding-right: 25px;
}
h3 {
    margin-bottom: 15px;
}
h6 {
    margin-bottom: 30px;
}

.row {
    padding-left : 0px;
    max-width: 70.5rem;
}

tr {
    height: 50px;
}

fieldset.article {
    padding-left: 70px;
    padding-right: 70px;

}
h3.titre-article {
    margin-left: -40px;
    left:0px;
    text-align: center;
}

.ModifOnLeft {
    margin-left : 60%;
    margin-top: 25px;
    font-size: 12px;
}

.left {
    margin-left : 80%;
    font-size: 14px;
}
.lienOption {
    font-size: 14px;
}
.modif {
    margin-left: -20px;
    font-size: 12px;
    text-align: right;
}

/*.option {
    margin-left : 0%;
    display: inline-block;
}*/

table {
    margin-left: auto;
    margin-right: auto;
}
td.center {
    text-align: center;
}

input[type=text], input[type=password], select {
    margin-bottom: 0px;
}
label {
    margin-top: 20px;
}
i {
    font-size:20px;
}
.fi-home {
    font-size:46px;
}

.login {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p.dyk {
    text-align: justify;
    font-size:14px;
}

.panel {
    background-color: #d9d9d9;
    border-color: #000000;
}